.basketContainer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 25%;
}

.item{
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}